
#navBar {
    margin: 0;

    padding: 0;

    background-color: whitesmoke;

    list-style-type: none;
    overflow: hidden;
}

#navBar li {
    float: right;
}

#navBar .navLink {
    margin: 5mm 5mm 5mm 0;
}