
#navBar {
    margin: 0;

    padding: 0;

    background-color: whitesmoke;

    list-style-type: none;
    overflow: hidden;
}

#navBar li {
    float: right;
}

#navBar .navLink {
    height: 10mm;

    border-radius: 3px;

    margin: 5mm;

    padding: 0 3mm;

    background-color: rebeccapurple;

    color: white;
    text-decoration: none;

    display: block;

    line-height: 10mm;
}