
#loginForm {
  background-color: white;
  width: 40%;
  max-width: 100mm;
  min-width: 50mm;
  height: auto;
  padding: 5mm;
  border-radius: 3px;

  .content {
    margin: 3mm 0;

    input {
      width: 100%;
      box-sizing: border-box;
    }
  }

  .headerContainer {
    border-bottom: 2px solid dimgray;

    h1 {
      color: dimgray;
      text-align: center;
    }
  }
}

