@import "../../scss/vars.scss";
#navBar {
  background: whitesmoke;
  width: 100%;
  height: $navbar-height;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;

  .childContainer{
    @include vertical-align();
    float: right;

    button {
      margin: 0 5mm 0 0;
      background-color: whitesmoke;
      color: dimgray;
    }

    button:hover {
      background-color: lightgray;
      color: dimgray;
    }

    #buttonLink {
      button {
        @extend button;
      }

      button:hover {
        @extend button:hover;
      }
    }
  }
}

