@import "../vars.scss";

#welcomeHeader {
  width: 100%;
  height: calc(75% - #{$navbar-height});
  background: linear-gradient(rebeccapurple, cornflowerblue);
  position: absolute;
  overflow: hidden;

  .textContainer {
    @include vertical-align();
    margin: auto;
    border: solid rgba(0, 0, 0, 0) 1px;
    text-align: center;

    .title {
      color: white;
      font-size: 3em;
      letter-spacing: .5em;
      font-weight: 100;
      margin: 0;
      padding: 0;
      line-height: 0;
    }

    .subtitle {
      color: white;
      size: 2em;
    }
  }
}