//Universal stylesheet

@import "vars.scss";

body {
  padding: 0;
  margin: 0;
}

text {
  font-family: $font-stack;
}

h1 {
  @extend text;
  font-weight: 100;
}

h2 {
  @extend text;
  font-weight: 400;
}

label {
  @extend text;
  color: dimgray;
}

input {
  background-color: whitesmoke;
  width: auto;
  height: 10mm;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 3mm;
  font-size: 1em;
  outline: none;
}

input:focus {
  border: 1px solid gray;
  background-color: white;
}

button {
  background-color: rebeccapurple;
  width: auto;
  height: 10mm;
  border: none;
  border-radius: 3px;
  padding: 3mm;
  font-size: 1em;
  color: white;
  outline: none;
}

button:hover {
  background-color: indigo;
}