@import '../../utils/utils.scss';

.Header {
  width: 100%;
  height: calc(75% - #{$navbar-height});
  background: linear-gradient(rebeccapurple, cornflowerblue);
  position: absolute;
  overflow: hidden;

  .container {
    @include vertical-align();
    margin: auto;
    border: solid rgba(0, 0, 0, 0) 1px;
    text-align: center;

    h1 {
      color: white;
      font-size: 7em;
      letter-spacing: .5em;
      font-weight: 100;
      margin: auto;
      padding: 0;
    }

    h2 {
      color: white;
      size: 5em;
    }
  }
}
