
#loginForm {
    width: 40%;
    max-width: 100mm;
    min-width: 50mm;
    height: auto;

    border-radius: 3px;

    padding: 5mm;

    background-color: white;
}

#loginForm #header {
    border-bottom: 2px solid dimgray;
}

#loginForm .content {
    margin: 3mm 0;
}

#loginForm h1 {
    color: dimgray;

    text-align: center;
}

#loginForm input {
    width: 100%;
    box-sizing: border-box;
}

#loginForm #forgotPasswordLink {
    margin-left: 5mm;
}